.modal-display {
  max-width:800px;
  max-height: 800px;
  padding: 20px;
  background-color: white;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.modal-close-button-container {
  position: relative;
}

.modal-display img {
  max-width: 800px;
  max-height: 780px;
  object-fit: scale-down;
}

.modal-close-button {
  background: none!important;
  border: none;
  padding: 0!important;
  /*optional*/
  font-family: arial, sans-serif;
  /*input has OS specific font-family*/
  color: #069;
  text-decoration: underline;
  cursor: pointer;
  align-self: flex-end;
  margin-left: auto;
}

.modal-close-button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
}

.modal-image-description {
  background-color: #aaaaaaaa;
  min-width: 200px;
  position: absolute;
  bottom: 40px;
  min-height: 50px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Commissioner, serif;
}

.overlay{
  content: '';
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 9;
}

@font-face {
  font-family: 'Commissioner'; /*a name to be used later*/
  src: url('src/assets/Commissioner-VariableFont_wght.ttf'); /*URL to font*/
}
